*.db
*.elc
*.pyc
*.stackdump
*.flycheck_packages.el
\#*
/home/.emacs.d/.cask/
/home/.emacs.d/devdocs
/home/.emacs.d/eww-bookmarks
/home/.emacs.d/history
/home/.emacs.d/image-dired
/home/.emacs.d/network-security.data
/home/.emacs.d/recentf
/home/.emacs.d/recentf~
/home/.emacs.d/session.*
/home/.emacs.d/srecode-map.el
/home/.emacs.d/tree-sitter
/home/.emacs.d/*.zip
/home/.emacs.d/**/.ac-php-conf.json
/home/.emacs.d/**/.cache
/home/.emacs.d/**/.dap-breakpoints
/home/.emacs.d/**/.directory
/home/.emacs.d/**/.extension
/home/.emacs.d/**/.lsp-session-*
/home/.emacs.d/**/.mc-lists.el
/home/.emacs.d/**/.places
/home/.emacs.d/**/.python-environments/
/home/.emacs.d/**/.recentf
/home/.emacs.d/**/.recentf~
/home/.emacs.d/**/.smex-items
/home/.emacs.d/**/.trello
/home/.emacs.d/**/ac-comphist.dat
/home/.emacs.d/**/auto-save-list/
/home/.emacs.d/**/bbdb
/home/.emacs.d/**/bookmarks
/home/.emacs.d/**/crown/
/home/.emacs.d/**/eclipse.jdt.ls
/home/.emacs.d/**/edts/
/home/.emacs.d/**/eln-cache
/home/.emacs.d/**/elnode/
/home/.emacs.d/**/elpa/
/home/.emacs.d/**/EmmyLua-LS-all.jar
/home/.emacs.d/**/eproject.lst
/home/.emacs.d/**/eshell/alias
/home/.emacs.d/**/eshell/history
/home/.emacs.d/**/eshell/lastdir
/home/.emacs.d/**/export/
/home/.emacs.d/**/forge-database.sqlite
/home/.emacs.d/**/mspyls/
/home/.emacs.d/**/my-org/
/home/.emacs.d/**/nov-places
/home/.emacs.d/**/org-files/
/home/.emacs.d/**/org-journal.cache
/home/.emacs.d/**/projectile-bookmarks.eld
/home/.emacs.d/**/projectile.cache
/home/.emacs.d/**/python-*-docs-html
/home/.emacs.d/**/quelpa/
/home/.emacs.d/**/quickurls
/home/.emacs.d/**/racket-mode/
/home/.emacs.d/**/semanticdb/
/home/.emacs.d/**/server/
/home/.emacs.d/**/tmp/
/home/.emacs.d/**/tramp
/home/.emacs.d/**/transient/
/home/.emacs.d/**/url/*
/home/.emacs.d/**/var/
/home/.emacs.d/**/workspace
/home/.emacs.d/**/undo/*

home/.vim/.netrwhist
home/.vim/.undo/%*

home/.weechat/logs
home/.weechat/weechat.log
home/.weechat/weechat_fifo_*
home/.weechat/urlserver_list.txt
home/.weechat/script/plugins.xml.gz

home/.config/akonadi/
home/.config/transmission/dht.dat
home/.config/transmission/resume/*.resume
home/.config/transmission/torrents/*.torrent

home/.chef/servers.d/breu-chef

home/.tmux/plugins/
!home/.tmux/plugins/tpm

home/.zsh/.zcompdump*
home/.zsh/cache
home/.zsh/history
