home/.vim/.netrwhist
home/.vim/.undo/%*

home/.weechat/logs
home/.weechat/weechat.log
home/.weechat/weechat_fifo_*
home/.weechat/urlserver_list.txt
home/.weechat/script/plugins.xml.gz

home/.config/transmission/dht.dat
home/.config/transmission/resume/*.resume
home/.config/transmission/torrents/*.torrent

home/.chef/servers.d/breu-chef

home/.tmux/plugins/
!home/.tmux/plugins/tpm

home/.zsh/.zcompdump*
home/.zsh/cache
home/.zsh/history
