[submodule "home/.vim/bundle/gitv"]
	path = home/.vim/bundle/gitv
	url = https://github.com/gregsexton/gitv
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/vim-textobj-user"]
	path = home/.vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "home/.vim/bundle/vim-textobj-rubyblock"]
	path = home/.vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/vim-bundler"]
	path = home/.vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "home/.vim/bundle/vim-rake"]
	path = home/.vim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "home/.vim/bundle/tagbar"]
	path = home/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "home/.vim/bundle/vim-json"]
	path = home/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
