[user]
    name  = Brett Campbell
    email = invsblduck@gmail.com

[init]
    templatedir = ~/.git_template

[push]
    default = simple

[color]
    diff = true
    grep = true
    status = true
    branch = true

[alias]
    b     = branch
    c     = commit
    ca    = commit -a
    co    = checkout
    cob   = checkout -b
    com   = checkout master
    d     = diff
    fu    = fetch upstream
    p     = push
    s     = status
    sh    = show
    sho   = show
    ctags = !.git/hooks/ctags

[github]
    user = invsblduck

[gitreview]
    username = invsblduck
