[user]
    name  = Brett Campbell
    email = invsblduck@gmail.com

[init]
    templatedir = ~/.git_template

[push]
    default = simple

[color]
    diff = true
    grep = true
    status = true
    branch = true

[alias]
    ctags    = !.git/hooks/ctags
    emc      = !git-config.sh emc
    kajabi   = !git-config.sh kajabi
    liberty  = !git-config.sh liberty
    logmein  = !git-config.sh lmi
    xentaurs = !git-config.sh xentaurs-bitbucket
    who      = !git-who.sh
    where    = !git-where.sh
	  root     = !git rev-parse --show-toplevel

[github]
    user = invsblduck

[gitreview]
    username = invsblduck

[grep]
    patternType = extended
    extendRegexp = true
    lineNumber = true
[pull]
	ff = only
